<template>
  <div class="main-container">
    <div class="contact">
      <p>TU Ilmenau</p>
      <p>Fakultät: Informatik und Automatisierung</p>
      <p>Fachgebiet: Graphische Datenverarbeitung</p>
      <p>E-Mail: martin.noebel@tu-ilmenau.de</p>
    </div>
    <img src="@/assets/logo.jpg"/>
  </div>
</template>

<script>
  export default {
    name: "TheHeader"
  }
</script>


<style scoped>
.main-container{
  border:grey;
  background-color: #306B91;
  display: flex;
  padding: 8px
}
.contact{
  display: flex;
}
.contact p{
  margin-left: 24px;
}
img{
  margin-top: 7px;
  display: block;
  margin-left: auto;
  width: 200px;
  height: 50px;
}
p{
  color: white;
  font-size: 20px;
}
</style>
