<template>
  <div class="main-container">
    <h1>Eine Visualisierung von grundlegenden Sortieralgorithmen</h1>
    <nuxt-link to="/"><button class="button1" v-on:click="updateButtons(0)" :style="{backgroundColor:this.pages[0]}">Home</button></nuxt-link>
    <nuxt-link to="/selectionSort"><button class="button1" v-on:click="updateButtons(1)" :style="{backgroundColor: this.pages[1]}">Selection Sort</button></nuxt-link>
    <nuxt-link to="/insertionSort"><button class="button1" v-on:click="updateButtons(2)" :style="{backgroundColor: this.pages[2]}">Insertion Sort</button></nuxt-link>
    <nuxt-link to="/bubbleSort"><button class="button1" v-on:click="updateButtons(3)" :style="{backgroundColor: this.pages[3]}">Bubble Sort</button></nuxt-link>
  </div>
</template>

<script>
  export default {
    name: "TheHeader",
    data(){
      return{
        pages: ["#FFFFFF","#add8e6","#add8e6","#add8e6"]
      }
    },

    methods:{
      updateButtons : function (page) {
        for(let i=0; i<this.pages.length; i++){
          if(i === page){
            this.$set(this.pages, i, "#FFFFFF")
          }else{
            this.$set(this.pages, i, "#add8e6")
          }
        }
      }
    },

    created() {
      let url = this.$router.currentRoute.path;
      switch (url) {
        case "/selectionSort":
          this.pages = ["#add8e6","#FFFFFF","#add8e6","#add8e6"];
          break;
        case "/insertionSort":
          this.pages = ["#add8e6","#add8e6","#FFFFFF","#add8e6"];
          break;
        case "/bubbleSort":
          this.pages = ["#add8e6","#add8e6","#add8e6","#FFFFFF"];
          break;
        default:
          this.pages = ["#FFFFFF","#add8e6","#add8e6","#add8e6"];
          break;
      }
    }

  }
</script>

<style scoped>
.main-container{
  border:grey;
  background-color: #306B91;
  padding: 8px;
}
button{
  font-size: 25px;
  background-color: #add8e6;
  width: 200px;
  height: 50px;
}
.button1:hover{
  background-color: white
}
h1{
  color: white;
}
</style>

