<template>
  <div>
    <the-header></the-header>
    <nuxt keep-alive/>
    <the-footer></the-footer>
  </div>
</template>

<script>
  import TheHeader from "../components/layout/Header"
  import TheFooter from "../components/layout/Footer"
  export default{
    name: "default",
    components: {
      TheHeader,
      TheFooter
    }
  }
</script>

<style>
body{
  font-family: Arial,sans-serif;
  font-size: 20px;
}
</style>
