<template>
  <div class="container">
    <h1>Wozu gibt es diese Website?</h1>
    <div>
      Diese Seite soll ein Verständnis für die grundlegenden Sortieralgorithmen in der Informatik liefern. Dazu zählen SelectionSort, InsertionSort und BubbleSort. <br>
      Dabei sollen dem Nutzer verschiedenste Informationen aufgezeigt werden, wie etwa: allgemeine Informationen zu den Algorithmen, ihr Ablauf, Komplexitätsdaten, Implementierungsdetails oder auch Funktionsweisen von einzelnen Codezeilen.
      Initial ist immer ein kleines Beispielarray mit Zahlen von 0-15 gegeben;
      der Nutzer kann aber auch eigene Listen sortieren lassen, die Geschwindigkeit des visuellen Ablaufs steuern, einzelne Schritte vor bzw. zurück gehen oder den Algorithmus nochmal mit einer neuen Liste resetten. <br>
      Zusätzlich sind einige hilfreiche Visualisierungen eingebaut, um die Algorithmen noch besser verstehen zu können.
      Hilfreiche Färbungen dienen dem weiteren Verständnis und Variablenzustände können ebenfalls über den gesamten Ablauf hinweg eingesehen werden.
      Das Wechseln der Algorithmen führt nicht zu einem Verlust des aktuellen Algorithmenzustandes, wodurch man auch parallel die Zustände in verschiedenen Situationen vergleichen kann.
    </div>
    <h1>Wie funktioniert diese Website und welche Funktionalitäten bietet sie?</h1>
    <div>
      In der oberen Leiste können die drei Sortieralgorithmen ausgewählt werden (wechselt man diese, bleibt der Zustand des Algorithmus trotzdem erhalten!).
      Auf den entsprechenden Algorithmenseiten gibt es vier verschiedene Teile, die nachfolgend kurz beschrieben werden. <br>
      <b>Allgemeines:</b>
        In diesem Bereich finden sie alle nötigen Informationen zu dem Algorithmus.
        Dazu zählen Komplexitätsdaten sowie Informationen über einige Eigenschaften der Algorithmen.
        Außerdem soll ein kleiner Text die Funktionsweise des Algorithmus erläutern und einige weiterführende Informationen geben. <br>
      <b>Bedienoberfläche:</b>
        Dieser Teil ist die Nutzeroberfläche, um mit dem Algorithmus interagieren zu können.
        Man kann einen eigenen Input für den Algorithmus eingeben, wobei bitte alle Zahlen mit einem Komma "," getrennt eingeben werden sollten; alle anderen Eingaben führen zu verwirrenden Ergebnissen. Die Verzögerung zwischen den Algorithmenschritten kann ebenfalls über einen Regler eingestellt werden (angegeben in ms).
        Zusätzlich kann man mithilfe der Tasten den Algorithmus starten und stoppen und ihn in einzelnen Schritten vorwärts bzw. rückwärts bewegen (vorrausgesetzt der Algorithmus ist gerade gestoppt).
        Außerdem kann man mit der Reset-Taste auch das Array und den gesamten Zustand resetten und somit ein neues Array ausprobieren. Falls man das Eingabefeld leer lässt, generiert die Website ein zufälliges Array mit Zahlen von 0-15.<br>
      <b>Code:</b>
        Hier sind alle Informationen über die Implementierung zu finden. Auf der linken Seite ist der Source-Code abgebildet und die aktuelle Zeile, in der sich der Algorithmus befindet, ist farblich gekennzeichnet.
        Im Kasten rechts daneben sind Details über den aktuellen Zustand des Algorithmus hinterlegt. Dazu zählen Kommentare zur aktuellen Zeile, Zustände aller wichtigen Variablen sowie eine visuelle Darstellung des aktuellen Arrayinhaltes inklusive der Indizes und der Zählvariablen. <br>
      <b>Visualisierung:</b>
        Im letzten Teil stellt ein kleines SVG nochmal den Arrayinhalt anschaulich mithilfe von Balken dar. Dieses wird nach jedem Schritt des Algorithmus geupdatet und zeigt nochmals auf eine andere Art und Weise, wie sich das Array sortiert.
    </div>
    <h1>Wen kann man bei Fragen kontaktieren?</h1>
    <div>Wichtige Kontaktinformationen sind in der Fußzeile zu finden.</div>
  </div>
</template>

<script>

</script>

<style>
.container{
  margin-bottom: 16px;
}
</style>
