<template>
  <div class="main-container">
    <div class="headline">
      <h2>Allgemeines</h2>
      <p class="color">Speicherbedarf: O(1)</p>
      <p class="color">Worst-Case: O(n<sup>2</sup>)</p>
      <p class="color">Average-Case: O(n<sup>2</sup>)</p>
      <p class="color">Best-Case: O(n)</p>
      <p class="color">In-Place</p>
      <p class="color">Stabil</p>
    </div>
    <div align="justify" class="general">
      Die meisten Menschen würden einen unsortierten Stapel an Zahlen wahrscheinlich genau so sortieren, wie es dieser Algorithmus tut.
      Er teilt das Array in zwei Teile: ein sortierter Teil S und ein unsortierter Teil U. <br>
      Dann beginnt er, aus U eine Zahl zu nehmen und diese in S an die richtige Stelle zu positionieren.
      Dazu wird das erste Element aus U markiert ("Key") und anschließend mit jedem Element von hinten an beginnend in U verglichen.
      Der Key wird mit größeren Elementen getauscht und dort eingefügt, wo das erste mal ein kleineres Element erscheint (da der Bereich sortiert ist, können davor nur kleinere und danach größere Elemente liegen).
      Somit wächst S konstant mit jeder neuen Einordnung eines Elementes aus U.
      Dies wird solange wiederholt, bis U leer ist und alle Elemente in S enthalten sind. <br>
      Daher heißt der Algorithmus auch "Insertion Sort", weil er unsortierte Elemente dort "inserted", wo sie eigentlich hingehören.
    </div>

    <div class="headline">
      <h2>Bedienoberfläche</h2>
      <img src="@/assets/info.png" :title="this.btip"/>
    </div>
    <div class="controls">
      <p>Eingabe:</p>
      <input type="text" :disabled="!this.stopped || this.random" v-model="input" @keyup.enter="resetAlgorithm">
      <p>zufällig?</p>
      <input type="checkbox" id="zufällig" v-model="random" :disabled="!this.stopped" checked @keyup.enter="resetAlgorithm">
      <p>Größe:</p>
      <input :disabled="!this.stopped || !this.random" class="size" v-model="size" @keyup.enter="resetAlgorithm">
      <button v-on:click="resetAlgorithm" :disabled="!this.stopped">
        <div>Anwenden/ <br> Zurücksetzen</div>
      </button>

      <p>Verzögerung:</p>
      <div class="slider">
        <input type="range" :disabled="!this.stopped" v-model="speed" min="1" max="5000" value="2500" class="helper">
        <div>{{this.speed}} ms</div>
      </div>
      <p>Controls:</p>
      <button v-on:click="goBackward" :style="{backgroundColor: this.buttons[0]}" :disabled="!this.stopped"><img src="@/assets/backward.png"/></button>
      <button v-on:click="handleAlgorithm" :style="{backgroundColor: this.buttons[2]}"><img :src="this.flow"/></button>
      <button v-on:click="goForward" :style="{backgroundColor: this.buttons[3]}" :disabled="!this.stopped"><img src="@/assets/forward.png"/></button>
    </div>

    <div class="headline">
      <h2>Visualisierung</h2>
      <img src="@/assets/info.png" :title="this.vtip"/>
    </div>
    <div class="horizontal">

      <div class="code">
        <u>Code</u>
        <div class="filler">
          <pre :style="{backgroundColor: this.data[counter].code[0]}">public void insertionSort(int[] a) {</pre>
          <pre :style="{backgroundColor: this.data[counter].code[1]}">   for(int i=1;i &lt a.length;i++){</pre>
          <pre :style="{backgroundColor: this.data[counter].code[2]}">       int key = a[i];</pre>
          <pre :style="{backgroundColor: this.data[counter].code[3]}">       int j = i-1;</pre>
          <pre :style="{backgroundColor: this.data[counter].code[4]}">       while ((j > -1) && (a[j] > key)){</pre>
          <pre :style="{backgroundColor: this.data[counter].code[5]}">          a[j+1] = a[j];</pre>
          <pre :style="{backgroundColor: this.data[counter].code[6]}">          j--;</pre>
          <pre>      }</pre>
          <pre :style="{backgroundColor: this.data[counter].code[7]}">      a[j+1] = key;</pre>
          <pre>   }</pre>
          <pre>}</pre>
        </div>
      </div>

      <div class="comments">
        <u>Kommentare</u>
        <div class="filler">{{this.data[counter].comment}}</div>

        <u>Variablen</u>
        <div class="variables">
          <div class="variable">i = {{this.data[counter].variables[0]}}</div>
          <div class="variable">j = {{this.data[counter].variables[1]}}</div>
          <div class="variable">key = {{this.data[counter].variables[2]}}</div>
          <div class="variable" :style="{backgroundColor: this.variables[0]}">a[j] = {{this.data[counter].variables[3]}}</div>
          <div class="variable" :style="{backgroundColor: this.variables[1]}">a[j+1] = {{this.data[counter].variables[4]}}</div>
        </div>

        <u>Arraydarstellung</u>
        <div class="array">
          <div class="element" v-for="(element,index) in this.data[counter].list">
            <div class="top" :style="{backgroundColor: element.color}">{{element.content}}</div>
            <div class="middle">{{index}}</div>
            <div class="bottom">{{element.index}}</div>
          </div>
        </div>
      </div>

      <div class="visualization">
        <u>Balkendarstellung</u>
        <div class="filler">
          <svg width="330" height="330">
            <rect v-for="(element,index) in this.data[counter].list" :x="width*index" :y="maximum*height-element.content*height" :width="width" :height="element.content*height" :fill="element.color" stroke="black" stroke-width="1px"></rect>
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default{
    name: "InsertionSort",
    layout: "default",
    data(){
      return{
        variables: ["#FF7F7F", "#90EE90"],
        interval: null,
        counter: 0,
        data: [],
        speed: 2500,
        stopped: true,
        buttons: ["#808080","#add8e6","#808080","#808080"],
        input: "",
        maximum: 0,
        size: 10,
        height: 0,
        width: 0,
        random: true,
        btip: "Über das Eingabefeld kann man eine eigene Liste zum Sortieren eingeben (mit Komma getrennt und Floats bitte mit Punkten eingeben). \n" +
          "Daneben kann man einstellen, ob der Algorithmus zufällige Elemente generieren soll und wenn ja wie viele. Mit Enter kann man seine Eingaben auch sofort bestätigen. \n" +
          "Falls man dann den Status des aktuellen Arrays erneuern möchte, muss man auf 'Anwenden/Zurücksetzen' klicken. Außerdem kann über den Regler eine Verzögerung zwischen den Algorithmusschritten eingestellt werden. \n" +
          "Mithilfe der Kontrollknöpfe kann man den Algorithmus entweder Schrittweise vor- bzw. zurücklaufen lassen oder ihn automatisiert mit einer gewissen Verzögerung ausführen.",
        vtip: "Im Feld 'Code' kann man den Java-Code des Algorithmus entnehmen und die aktuelle Codezeile ist hervorgehoben. \n" +
          "Unter 'Kommentare' ist eine Bemerkung zur hervorgehobenen Zeile hinterlegt. Darunter sind alle Variablen und ihre aktuellen Zustände abgebildet. \n" +
          "Die 'Arraydarstellung' zeigt den Inhalt des Arrays zum aktuellen Zeitpunkt inklusive der Laufvariablen, Indizes, Werte und Färbungen. \n" +
          "In der 'Balkendarstellung' ist ein SVG abgebildet, welches nochmal den Zustand des Algorithmus inklusive farbiger Hervorhebungen darstellen soll."
      }
    },

    computed: {
      flow: function() {
        return !this.stopped ? require('../../assets/stop.png') : require('../../assets/play.png')
      }
    },

    methods:{
      createArray : function(input, size, i, j) {
        return new Array(size).fill().map((element,index) => {
          if(index === j+1 && index === i){
            return {content: input[index], color: "#90EE90", index: "i"}
          }
          if(index === j+1){
            return {content: input[index], color: "#90EE90", index: ""}
          }
          if(index === i){
            return {content: input[index], color: "#add8e6", index: "i"}
          }
          if(index === j){
            return {content: input[index], color: "#FF7F7F", index: "j"}
          }
          return {content: input[index], color: "#add8e6", index: ""}
        })
      },

      handleAlgorithm : async function () {
        if(!this.stopped){
          this.stopped = true;
          clearInterval(this.interval);
          this.buttons = ["#808080","#add8e6","#808080","#808080"];
          return
        }
        this.stopped = false;
        this.buttons = ["#FFFFFF","#808080","#add8e6","#FFFFFF"];

        this.interval = setInterval(() => {
          if(this.counter === this.data.length-1){
            this.stopped = true;
            clearInterval(this.interval);
            this.buttons = ["#808080","#add8e6","#808080","#808080"];
          }else{
            this.counter++;
          }
        }, this.speed);
      },

      goBackward : function() {
        if(this.counter > 0){
          this.counter--;
        }
      },

      goForward : function() {
        if(this.counter < this.data.length-1){
          this.counter++;
        }
      },

      resetAlgorithm : function () {
        this.counter = 0;
        this.data = [];
        let array;
        if(!this.random){
          if(this.input.split(",")[0].includes(".")){
            array = this.input.split(",").map(element => parseFloat(element));
            this.size = array.length;
          }else{
            array = this.input.split(",").map(element => parseInt(element,10));
            this.size = array.length;
          }
          if(isNaN(parseInt(this.input.split(",")[0]))){
            array = this.input.split(",");
            this.size = array.length;
          }
        }else{
          array = new Array(parseInt(this.size)).fill().map((a, i) => a = i).sort(() => Math.random() - 0.5);
          this.input = array.slice().toString();
        }
        this.maximum = Math.max(...array);
        this.height = 330/this.maximum;
        this.width = 330/this.size;

        let test0 = 1; //i
        let test1 = 0; //j
        let test2 = array[1]; //key

        this.data.push({
          list: this.createArray(array.slice(), array.length, -1,-2),
          variables: ["?","?","?","?","?"],
          comment: "Die Methodensignatur für InsertionSort.",
          code: ["#add8e6","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF"]
        });

        for(let i=1;i<array.length;i++){
          this.data.push({
            list: this.createArray(array.slice(), array.length, test0,test1),
            variables: [test0,test1,test2,array[test1],array[test1+1]],
            comment: "Die äußere Schleife, um das Array zu durchlaufen. Sie zeigt immer den Beginn des unsortierten Teils an.",
            code: ["#FFFFFF","#add8e6","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF"]
          });
          test0 = i;

          this.data.push({
            list: this.createArray(array.slice(), array.length, i,test1),
            variables: [i,test1,test2,array[test1],array[test1+1]],
            comment: "In der Variable Key wird das aktuell betrachtete Element festgehalten, welches in den sortierten Teil eingebracht werden soll.",
            code: ["#FFFFFF","#FFFFFF","#add8e6","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF"]
          });
          let key = array[i];
          test2 = key;

          this.data.push({
            list: this.createArray(array.slice(), array.length, i,test1),
            variables: [i,test1,key,array[test1],array[test1+1]],
            comment: "Die Zählvariable j wird so initialisiert, dass sie auf das letzte Element des sortierten Bereichs zeigt (also ein Element vor i bzw. dem sortierten Bereich).",
            code: ["#FFFFFF","#FFFFFF","#FFFFFF","#add8e6","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF"]
          });
          let j = i-1;
          test1 = j;

          this.data.push({
            list: this.createArray(array.slice(), array.length, i,j),
            variables: [i,j,key,array[j],array[j+1]],
            comment: "Die innere Schleife soll für die den Key den passenden Platz im sortierten Bereich des Arrays finden. Falls ein kleineres Element gefunden wurde, bricht die Schleife ab und fügt den Key passend ein.",
            code: ["#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#add8e6","#FFFFFF","#FFFFFF","#FFFFFF"]
          });
          while ((j>-1) && (array[j]>key)){

            this.data.push({
              list: this.createArray(array.slice(), array.length, i,j),
              variables: [i,j,key,array[j],array[j+1]],
              comment: "Falls der Key kleiner als das aktuelle Element im sortierten Bereich ist, werden die Elemente getauscht.",
              code: ["#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#add8e6","#FFFFFF","#FFFFFF"]
            });
            this.$set(array, j+1, array[j]);

            this.data.push({
              list: this.createArray(array.slice(), array.length, i,j),
              variables: [i,j,key,array[j],array[j+1]],
              comment: "Die Zählvariable für die innere Schleife wird dekrementiert, um Elemente weiter vorne im sortierten Bereich zu betrachten.",
              code: ["#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#add8e6","#FFFFFF"]
            });
            j--;
            test1 = j;
          }

          this.data.push({
            list: this.createArray(array.slice(), array.length, i,j),
            variables: [i,j,key,array[j],array[j+1]],
            comment: "Der betrachtete Key wird an der korrekten Stelle im sortierten Bereich des Arrays eingefügt.",
            code: ["#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#add8e6"]
          });
          this.$set(array, j+1, key);
        }

        this.data.push({
          list: this.createArray(array.slice(), array.length, -1,-2),
          variables: [test0,test1,test2,array[test1],array[test1+1]],
          comment: "Fertig!",
          code: ["#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF","#FFFFFF"]
        });
      }
    },

    created() {
      this.resetAlgorithm();
    }
  }
</script>

<style scoped>
  input[type="text"]{
    width: 350px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
  }
  input[type="range"]{
    width: 150px;
  }
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-right: 8px;
  }
  button{
    margin: 8px;
    font-size: 20px;
  }
  img{
    width: 30px;
    height: 30px;
  }
  select{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
  }
  pre{
    font-size: 20px;
    margin: 2px;
    border: 1px solid black;
    font-family: Arial, sans-serif;
  }
  p{
    font-size: 20px;
  }
  u{
    font-size: 20px;
  }
  .headline{
    margin-top: 8px;
    display: flex;
    align-items: center;
  }
  .headline img{
    margin-left: 16px;
  }
  .main-container{
    margin-bottom: 16px;
  }
  .size{
    width: 50px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 20px;
  }
  .color{
    background-color: lightblue;
    margin-left: 16px;
    border: 3px solid black;
    padding: 5px;
  }
  .general{
    width: 1443px;
  }
  .horizontal{
    margin-top: 8px;
    display: flex;
  }
  .horizontal h2{
    margin-top: 30px;
  }
  .controls{
    width: 1443px;
    padding: 8px;
    display: flex;
    border: 8px solid lightblue;
  }
  .slider{
    text-align: center;
  }
  .code{
    border: 8px solid lightblue;
    padding: 10px;
  }
  .filler{
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .comments{
    margin-left: 16px;
    border: 8px solid lightblue;
    padding: 10px;
    width: 700px;
  }
  .variables{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
  }
  .variable{
    border: 1px solid black;
    margin-right: 8px;
    padding: 8px;
  }
  .array{
    display: flex;
    flex-wrap: wrap;
  }
  .element{
    border: 1px solid black;
    margin-right: 8px;
    margin-top: 16px;
  }
  .top{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: lightblue;
    padding: 8px;
  }
  .middle{
    padding: 8px;
    border-top: 1px solid black;
    text-align: center;
    background-color: white;
  }
  .bottom{
    padding: 8px;
    text-align: center;
    background-color: white;
  }
  .visualization{
    width: 330px;
    padding: 10px;
    margin-left: 16px;
    border: 8px solid lightblue;
  }
</style>
